.padding {
    padding: 0rem !important;
}

.card{
    width: 18rem;
}
.card-img-top{
    height:90.00px;

}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem
}

.pro-img {
    margin-top: -20px;
    margin-bottom: 10px
    
}

.little-profile .pro-img img {
    width: 40%;
    height: 40%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

label{
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
}

#text-r{
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
}